body{
    padding: 0.5rem;
    /* padding-top: 4rem; */
    margin: auto;
    
}
.main_cont{
    text-align: center;
    border: 2px solid black;
    padding: 1rem;
    background-color: wheat;
    border-radius: 1rem;
    line-height: 2.2rem;
    letter-spacing: .2rem;
    max-width: 380px;
    width: 90%;
    margin: auto;
    position: relative;
    top:60px;
    overflow: hidden;
}

.temps{
    font-size: 1.4rem;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content:space-between;
}

.main_desc{
    font-size: 1.3rem;

}

.faren{
    background-color: wheat;
    border: 2px solid black;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

/* .image{
    /* width: 50%;
    height: 30%;
} */

.wave{
    opacity: 0.1;
    position: absolute;
    top:120%;
    left: 50%;
    background-color: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -27rem;
    transform-origin: 50% 50%;
    border-radius: 50%;
    animation: drift 3s infinite linear;
    z-index: 1;
}

.wave.three{
    animation: drift 1s infinite linear;
    opacity: 0.1;
    z-index: 2 !important;
}

.wave.two{
    animation: drift 2s infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
    border: 3px black solid;
}

@keyframes drift{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: 360deg;
    }
}


.desc{
    text-transform: capitalize;
}


/* spinner animation */

#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;
  
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
  
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }
  
  #spinner.show {
    visibility: visible;
  }
  